
    <!-- footer section -->
    <footer class="footer_section">
        <div class="container">
          <p>
            &copy; <span id="displayYear"></span> All Rights Reserved By
            <a href="https://html.design/">Free Html Templates</a>
          </p>
        </div>
      </footer>
      <!-- footer section -->
  
      <!-- jQery -->
      <script src="/static/js/jquery-3.4.1.min.js"></script>
      <!-- bootstrap js -->
      <script src="/static/js/bootstrap.js"></script>
      <!-- custom js -->
      <script src="/static/js/custom.js"></script>
    </body>
  </html>
  