{% extends "base.html" %}

{% block content  %}
<body>
  <head>
    <style>
      h1 {
        background-color: black;
        color: pink;
        padding: 15px;
        text-align: center;
        border-radius: 20px;
      }
    </style>
    <title>{{Course}}</title>
    {% comment %}
    <description> {{description}}</description>
    {% endcomment %}
  </head>

  <h1>
    {{Name}} <br />
    {{skills}}
  </h1>

  <table border="1" cellpadding="10">
    <tr>
      <th>Name</th>
      <th>Phone Number</th>
    </tr>

    {% for d in clist %}
    <tr>
      <td>{{d.name}}</td>
      <td>{{d.phone}}</td>
    </tr>
    {% endfor %}
  </table>
</body>
{% endblock  %}
